{% extends 'layout.html.twig' %}


{% block title %}Festizik – administration des concerts{% endblock %}

{% block keywords %}festizik,concerts,administration{% endblock %}


{# TODO : use the common stylesheet instead! #}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/concertPage.css">
{% endblock %}


{% block bodyProperties %} class="adminConcert" {% endblock %}


{% block content %}
    <header class="sublined">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="orange" points="0,0 100,100 100,0"/>
        </svg>

        <h1>Les concerts</h1>
    </header>

    <hr/>

    {% include 'errorList.html.twig' %}

    <nav>
        <form method="GET" action="" class="border border-info p-1">
            <p class="mb-0 font-weight-bold font-weight-italic">Trier&nbsp;...</p>

            {% for prop in sortableProperties %}
                <button type="submit" class="btn btn-info {% if prop.name == actualSort %}active{% endif %}"
                        title="recharger la page avec un ordre différent de tri"
                        name="sortBy" value="{{prop.name}}">
                    par {{prop.label}}
                </button>

            {% endfor %}

        </form>
        {# TODO :
        • affichage par défaut : une section portant date / nom de jour par jour.
        à l'intérieur, tout par row.
        ****
        • bouton de bascule : 1 section /jour (↑), 1 section /semaine, tout d'un coup sans distinction chronologique. →

        **** c'est pour le FILTRAGE qu'il y aura besoin de modifier la requête ...

        • bouton bascule : ligne / ligne  (cartes alignées verticalement),
                        1 entrée par ligne
                        ou compact (comme maintenant, dans une «.card-columns»)
        → PAR JAVASCRIPT !
        • Utiliser une seule connection PDO par page. #}
    </nav>



    <main>
        {% for concert in concerts %}
            <article class="bordered">
                <div>
                    <p>Heure&nbsp;</p>
                    <p>{{ concert.hour }}</p>
                </div>

                <div>
                    <p>Date&nbsp;</p>
                    <p>{{ concert.DateAsString }}</p>
                </div>

                <div>
                    <p>Scène&nbsp;</p>
                    <p>{{ concert.sceneName }}</p>
                </div>

                <div>
                    <p>Artiste&nbsp;</p>
                    <p>{{ concert.Artist.Name }}</p>

                    {% if concert.Artist.ImageURL %}

                        <div class="col-xs-1 col-lg p-0">
                            <img class="card-img-bottom"
                                 src="{{ concert.Artist.ImageURL }}"
                                 alt="L'image pour «{{ concert.Artist.Name }}» est absente&nbsp;!">
                        </div>

                    {% endif %}

                </div>

                <form action="updateDB" method="POST">
                    {% if 1 == concert.cancelled %}
                        <p class="cancelled">Annulé</p>
                    {% endif %}

                </form>


            </article>

        {% else %}
            <article>
                <p>Aucun événement enregistré</p>
            </article>

        {% endfor %}

    </main>

{% endblock %}
