{% extends 'layout.html.twig' %}

{% block title %}Festizik – les concerts{% endblock %}

{% block keywords %}festizik,concerts,événements,planning{% for name in artistNames %},{{ name }}{% endfor %}{% endblock %}

{% block content %}
    <div class="container">
        <header class="prog-header">
            <h1>Programmation</h1>
            <hr/>
        </header>


        <h1 class="day-concert">{{ concerts.0.Day }}</h1>
        <div class="row prog-concert">
            <div class="prog-scene col-md-3">
                <h2>{{ concerts.0.Scene }}</h2>
                <ul>
                    {% for concert in concerts %}
                        <li>{{ concert.hour }} - {{ concert.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prog-scene col-md-3">
                <h2>{{ concerts2.0.Scene }}</h2>
                <ul>
                    {% for concert2 in concerts2 %}
                        <li>{{ concert2.hour }} - {{ concert2.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prog-scene col-md-3">
                <h2>{{ concerts3.0.Scene }}</h2>
                <ul>
                    {% for concert3 in concerts3 %}
                        <li>{{ concert3.hour }} - {{ concert3.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr/>
        <h1 class="day-concert">{{ concerts4.0.Day }}</h1>
        <div class="row prog-concert">
            <div class="prog-scene col-md-3">
                <h2>{{ concerts4.0.Scene }}</h2>
                <ul>
                    {% for concert4 in concerts4 %}
                        <li>{{ concert4.hour }} - {{ concert4.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prog-scene col-md-3">
                <h2>{{ concerts5.0.Scene }}</h2>
                <ul>
                    {% for concert5 in concerts5 %}
                        <li>{{ concert5.hour }} - {{ concert5.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prog-scene col-md-3">
                <h2>{{ concerts6.0.Scene }}</h2>
                <ul>
                    {% for concert6 in concerts6 %}
                        <li>{{ concert6.hour }} - {{ concert6.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr/>
        <h1 class="day-concert">{{ concerts7.0.Day }}</h1>
        <div class="row prog-concert">
            <div class="prog-scene col-md-3">
                <h2>{{ concerts7.0.Scene }}</h2>
                <ul>
                    {% for concert7 in concerts7 %}
                        <li>{{ concert7.hour }} - {{ concert7.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prog-scene col-md-3">
                <h2>{{ concerts8.0.Scene }}</h2>
                <ul>
                    {% for concert8 in concerts8 %}
                        <li>{{ concert8.hour }} - {{ concert8.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prog-scene col-md-3">
                <h2>{{ concerts9.0.Scene }}</h2>
                <ul>
                    {% for concert9 in concerts9 %}
                        <li>{{ concert9.hour }} - {{ concert9.Artist }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
